src/
vendor/
node_modules/
uptask_mvc.sql
gulpfile.js
package.json
package-lock.json
.DS_Store
.env
/video
*.mp4
*.webm
*.ogg
/img
*.png
*.jpg
*.gif
*.svg
*.ico
*.webp
*.avif
*.jpeg
*.bmp
*.tiff
*.tif
*.psd
*.ai
*.eps
*.pdf